.navbar {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    background: rgb(10, 9, 9);
    font-size: 24px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rrgb(56, 56, 56);
  }
  
  .navbar a {
    color:#ffff;
    text-align: center;
    text-decoration: none;
  }
  
  ul li{
    list-style: none;
  }