 .card-direitos{
  padding: 4%;
  

}
.card-direitos__titulo{
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
}
.card-direitos__titulo:hover{
  color: #0e0b04;
  text-decoration: underline;
  
  transition: 0.5s all;
  box-shadow: 5px 5px 9px #0c0909; 
  transform: scale(1.1);
}
.container-texto{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-lista{
  display: flex;
  justify-content: space-between;
  text-align: left; 
}

.lista{
  width: 30%;
  background-color: #BC8F8F;
  border-radius: 10px;
  padding: 16px;
  transition: 0.5s all;
  box-shadow: 5px 5px 9px #cccccc; 
}

.lista:hover{
  transform: scale(1.1);
}
.lista h3{
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  margin-bottom: 20px;
}

.lista__item li{
  color: #ffffff;
  margin-bottom: 10px;
  list-style: none;
}

.lista__item li::before{
  content:"❁" ;
  margin: 10px;
    
}


