.header {
    padding: 20px;
    text-align: center;
    color: white;
    background: linear-gradient(rgb(8, 44, 80),rgba(209, 213, 214, 0.5)),url(../../assets/Anquilose3.jpg) no-repeat repeat;
   
    background-size: cover;
    height: 500px;
  }
  
  
  
  
  
  