
.banner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    width: 80%;
    background: #808080;
    margin: 3% 5%;
    border-radius: 10px;
}  


.card-introducao, .card-conseq{
    
    padding: 2%;
}

.card-introducao__titulo{
    color: #ffff;
    font-size: 25px;
    margin-bottom: 20px;
}

.container-texto{
    display: flex;
    align-items: center;
}

.container-texto__paragrafo{
    width: 60%;
    margin-right: 10%;
    
}

.container-texto__paragrafo p{
    color: rgb(14, 12, 12);
    font-size: 18px;
    text-align: justify; 
    
}

.card-conseq__titulo{
    font-size: 25px;
    color: #ffff;
    padding: 10px;
    
}

.container-listas{
    display: flex;
    justify-content: space-between; 
}

.listas{
    width: 50%;
    background-color:  #9c6654;
    border-radius: 10px;
    padding: 16px;
    transition: 0.5s all;
    box-shadow: 5px 5px 9px #cccccc; 
    margin-left: 10px;
}


.lista__item li{
    text-align:left ;
    color: #0a0509;
    margin-bottom: 10px;
    list-style: none;
    font-size: 18px;
}

.lista__item li::before{
    content:"❁" ;
    margin-right: 5px;
    color: rgb(219,112,147);
}

.container-texto__imagem{
    width: 30%;
    border-radius: 40px;
    margin-top: auto;
}
   



















